h1{
    color: rgb(44, 42, 42);
    font-size : 100px;  
    text-align : center;
    font-family: "Quicksand"; 
    text-decoration: underline;
    background-color: rgb(37, 204, 255);
}

.first_p{
text-align: left;
font-size: 25px;
font-family: "Quicksand";
margin-right: auto; 
width: 45%; 
margin-bottom:-100px;
}
 
.image1 {
width: 45%;
margin-left: 1000px;
border-color: black;  
margin-bottom: -90px;
outline: auto;
outline-color: rgb(0, 0, 0); 
margin-top:-100px;
}   

.image2 {
    width: 45%;
    margin-left: 20px;
    border-color: black;  
    outline: auto;
    outline-color: rgb(0, 0, 0);  
    margin-top: -110px;
    }    

    .second_p{
        text-align: left;
        font-size: 25px;
        font-family: "Quicksand";
        margin-right: auto; 
        width: 45%; 
        margin-bottom:-100px;
        margin-left:1000px;
        margin-top: -300px;
        } 

        .image3 {
            width: 45%;
            margin-left: 20px;
            border-color: black;  
            outline: auto;
            outline-color: rgb(0, 0, 0);  
            margin-bottom: -600px;
            margin-left: -400px;
            }    

 
        

            
 
